<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.edu.utn.frsf.isi.dam.gamino">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Servicios.MensajesReceiver"
            android:enabled="false"
            android:exported="false"></receiver>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logoaplicacion" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Sign_in"
            android:label="Sign in"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Log_in"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurarPerfil"
            android:label="Perzonalizar Perfil"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".VerPublicacion"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".TablaComentarios"
            android:label="Comentarios"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AltaPublicacion"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ListaDeIntereses"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListaDePublicacion"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CargarIntereses"
            android:label="@string/title_activity_cargar_intereses"
            android:screenOrientation="portrait"/>

        <service android:name=".Servicios.FCMNotificacion">

        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ar.edu.utn.frsf.isi.dam.gamino.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />


    </application>

</manifest>